<!doctype html>
<html>
  <meta charset="utf-8" />
  <title>Course Details</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

  <body>
    <h2>Course Details</h2>
    <h3>Course Code: {{ info.c_id }}</h3>
    <h3>Course Name: {{ info.c_name }}</h3>
    <h3>Start Date: {{ info.start_date }}</h3>
    <h3>End Date: {{ info.end_date }}</h3>
    <h3>Class Size: {{ info.c_size }}</h3>
    <h3>Location: {{ info.location }}</h3>
    <h3>Pre-requisites: {{ info.pre_req }}</h3>
    <h3>Description</h3>
    <h4>{{ info.description }}</h4>

    <h5 class="ui header"></h5>
    <a href = "{{ url_for('index_courses') }}">Go back to Courses</a>

  </body>

</html>