<!doctype html>
<html>
  <meta charset="utf-8" />
  <title>Add Course</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

  <body>
    <form class="ui form">
        <h3 class="ui dividing header">Create Course</h3>
        <div class="field">
            <label>Course Code</label>
            <input type="text">
        </div>
        <div class="field">
            <label>Course Name</label>
            <input type="text">
        </div>
        <div class="three fields">
            <label>Start Date</label>
            <div class="field">
                <input type="number" placeholder="Day">
            </div>
            <div class="field">
                <input type="number" placeholder="Month">
            </div>
            <div class="field">
                <input type="number" placeholder="Year">
            </div>
        </div>

    </form>




    <h5 class="ui header"></h5>
    <a href = "{{ url_for('index_courses') }}">Go back to Courses</a>

  </body>

</html>
